.header_container {
  width: 100%;
  height: 90px;
}
.navigat {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.headerNaviagtion {
  background-color: rgb(50, 49, 49);
  width: 100%;
  height: 80px;
  overflow: hidden;
  padding-left: 19px;
}

.headerIcons {
  color: white;
  padding: 10px;
}
.iconStyle {
  font-size: 30px;
  font-weight: 600;
  margin-right: 30px;
  cursor: pointer;
}

::ng-deep {
  .modelTextArea .p-inputtext {
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding-left: 1.5rem;
    width: 100%;
    padding: 0.5rem 0.5rem;
    font-size: 27px;
    border: none;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    appearance: none;
    border-radius: 3px;
    background: #ffffff;
    color: black;
  }

  .p-inputtext:enabled:hover {
    border-color: transparent;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
    border-color: transparent;
  }
  .cancelButton {
    .p-button {
      color: red;
      border: none;
      background-color: transparent;
      font-size: 25px;
    }
    .p-button:enabled:hover {
      background: transparent;
      color: #ff0000;
      border-color: none;
    }
    .p-button:focus {
      box-shadow: none !important;
    }
  }
     .postButton {
       .p-button {
        min-width: 150px;
          height: 50px;
          letter-spacing: 2px;
          color: rgb(254, 254, 254);
          border: none;
          background-color: rgb(88, 87, 87);
          font-size: 25px;
          border-radius: 4px;
       }
  
       .p-button:enabled:hover {
         background: rgb(88, 87, 87);
         color: #ffffff;
         border-color: none;
       }
  
       .p-button:focus {
         box-shadow: none !important;
       }
     }
  .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 700;
    font-size: 35px;
  }
  .pi {
    font-size: 25px;
    font-weight: 700;
  }
  .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    color: black;
    border-color: transparent;
    background: transparent;
  }
  .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }
}
