

<div class="card">
    <div class="profile-username">
        <div class="profile-div">
          <img
            class="profile-image"
            src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"
            alt=""
          />
        </div>
        <div class="profile-name">
          <p class="user-font1">uday bhaskar</p>
          <p class="user-font2">uday_4444</p>
        </div>
      
      <div class="button">
        <button pButton type="button" style="font-size: 1.3rem;">Follow</button>
      </div>
  </div>