<div *ngFor="let user of allUsersData">
  <div class="card">
    <div class="profile-username">
      <div class="profile-div">
        <img
          class="profile-image"
          [src]="
            user.profilePic ? user.profilePic : '../../../assets/default.png'
          "
        />
      </div>
      <div class="profile-name">
        <p class="user-font1">{{ user.firstName }} {{ user.lastName }}</p>
        <p class="user-font2">{{ user.username }}</p>
      </div>

      <div class="button">
        <button
          pButton
          type="button"
          (click)="addFriend(user.id)"
          style="font-size: 1.3rem"
        >
          {{ ButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
